@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
    transition: 0.3s;
}
*::-webkit-scrollbar{
    width: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Signika', sans-serif;
}