@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
    transition: 0.3s;
}
*::-webkit-scrollbar{
    width: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Signika', sans-serif;
}
.navbar {
    width: 250px;
    /* min-height:calc(100vh - 20px); */
    color: #292D32;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    list-style: none;
}

.navbar li {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    height: 50px;
    gap: 1.3rem;
    padding: 10px 30px;
    min-width: max-content;
    position: relative;
    border-radius: 0.5rem;
}

.navbar li a {
    margin-top: 5px;
    opacity: 0.9;
    flex: 1;
}

.navbar li:hover {
    cursor: pointer;
    background-color: hsl(200, 10%, 86%);
}

.navbar li:hover>ul {
    display: block;
}

/* .navbar li >ul ul{ */
/* left: 95% !important; */
/* } */
.navbar li>ul {
    display: none;
    position: absolute;
    border-radius: 0.5rem;
    left: 100%;
    background-color: rgb(243 244 246);
}

@media screen and (max-width: 768px) {
    .main-content {
        width: calc(100% - 20px) !important;
    }
}

.main-content {
    width: calc(100% - 270px);
}